# pip install -r requirements.txt
argparse
beautifulsoup4
Bio
biopython
drug-named-entity-recognition
nltk==3.6.2
openpyxl==3.0.10
pandas==1.1.5
py2neo
PyPDF2 
requests
selenium
shiny
shinyswatch
spacy
tqdm

